{% extends "admin/change_list.html" %} {% load static %} {% block extrahead %}
<script src="{% static 'admin/js/jquery.min.js' %}"></script>
<script>
  $(document).ready(function () {
    $("#status").change(function () {
      $("#status-form").submit();
    });
  });
</script>
{% endblock %} {% block content %}
<form id="status-form" method="get">
  <select id="status" name="status">
    <option value="all">All</option>
    <option value="active">Active</option>
    <option value="inactive">Inactive</option>
  </select>
  <input type="submit" value="Filter" />
</form>
{{ block.super }} {% endblock %}
